
<p>
This post has <%= @post.comments.size %> comments


<p>
  <% @post.comments.each do |comment| %>
    <%= comment.comment %>
    by: <%= comment.user.name %>
    <hr/>
   <% end %>
</p>


Add a Comment:
<p>
  <%= form_for(Comment.new, :url => post_comments_path(@post)) do |f| %>
    <%= f.text_area :comment %>
    <%= f.select :user_id, User.all.collect {|p| [p.name, p.id]} %>
    <%= f.submit "Go" %>
  <% end %>
</p>