
<%= link_to 'New Post', new_post_path %>
<p>
<table>
  <tr>
    <th></th>
    <th>Title</th>
    <th>Submitter</th>
    <th>Comments</th>
  </tr>  


  <% counter = 1 %>
  <% @posts.each do |post| %>
    <tr>
      <td><%= counter.to_s + "." %></td>
      <td><%= link_to (post.title, fix_url(post.URL)) %></td>
      <td><%= "submitted by #{display_user(post.user)}" %> </td>
      <td> <%= link_to (post.comments.count, post_comments_path(post)) %>
    </tr>  
    <% counter += 1 %>


  <% end %>

</table>  



